@layer base {
    /*
     * Generics
     */
    *, html, body, p, a, button {
        @apply tracking-normal;
    }

    b, strong {
        @apply font-bold;
    }

    a {
        @apply underline hover:no-underline;
        text-decoration-skip-ink: auto;
    }

    /*
     * Alpine.js
     */
     [x-cloak] {
        display: none !important;
    }

    /*
     * Inert.js
     *
     * Inert will dynamically inject those CSS in the page,
     * which can break the CSP style-src rule.
     *
     * To avoid to use `unsafe-inline` we add those CSS manually.
     */
    [inert] {
        pointer-events: none;
        cursor: default;
    }

    [inert], [inert] * {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}

@layer utilities {
    .text-rendering-speed { text-rendering: optimizeSpeed; }
}
